<h1>Create a new Figure:</h1>
<form action="/figures" method="POST">
  <label>Name:</label><br>
  <input type="text" name="figure[name]" id="figure_name"><br><br><br>
  <label>Titles:</label><br><br>
    <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%=title.id%>"><label><%=title.name%></label></input><br>
  <%end%> <br>
  <label>Create New Title:</label><br><br>
  <label>Name:</label>
    <input  type="text" name="title[name]" id="new_title"></input><br>
    
  <label>Figure Landmark(s):</label><br>
    <% Landmark.all.each do |landmark| %>
    <input name="figure[landmark_ids][]"  type="checkbox" id="landmark_<%= landmark.id %>" value="<%=landmark.id%>"><label><%=landmark.name%></label></input><br>
  <%end%>
  <label>Create New Landmark:</label><br><br>
  <label>Name:</label>
    <input type="text" name="landmark[name]" id="new_landmark"></input>
  <label>Year:</label>
    <input type="text" name="landmark[year_completed]"></input>
    
  <input type="submit" value="Create New Figure">
</form>
